<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Add new company</title>
</head>

<body>
	<form action="" method="post">

		<label for="name">Company Name:</label>
		<input type="text" name="name" />

		<br><br>

		<label for="country">Country:</label>
		<input type="text" name="address.country" />

		<br><br>


		<label for="city">City:</label>
		<input type="text" name="address.city" />

		<br><br>


		<label for="street">Street:</label>
		<input type="text" name="address.street" />

		<br><br>


		<label for="house">House:</label>
		<input type="text" name="address.house" />

		<br><br>


		<label for="site">Company Site:</label>
		<input type="text" name="site" />

		<br><br>

		<input type="hidden" name="director_name" th:value="${#authentication.getPrincipal().getUsername()}">

		<button type="submit">Add Company</button>
	</form>
</body>

</html>